@font-face {
  src:
    url("../fonts/SteppeBook.woff2"),
    url("../fonts/SteppeBook.woff");
  font-family: "Steppe";
  font-weight: 400;
}

@font-face {
  src:
    url("../fonts/SteppeExtraBold.woff2"),
    url("../fonts/SteppeExtraBold.woff");
  font-family: "Steppe";
  font-weight: 800;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Steppe", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 280px;
  min-height: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #5243f4;
}

.site-container {
  position: relative;
  overflow: hidden;
}

.currency {
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: 1px solid #fff;
  padding: 5px 10px;
  height: 25px;
  min-width: 25px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  line-height: 18px;
  z-index: 1;
  user-select: none;
  transform: scale(1);
  animation: pulse 2s infinite;
  font-size: 16px;
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }

  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.line {
  position: absolute;
  z-index: -1;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  border-radius: 60px;
  padding: 21px 47px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
  text-align: center;
}

.header {
  padding: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 250px;
}

.logo__img {
  vertical-align: bottom;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.info {
  padding: 161px 0 200px;
}

.line--1 {
  top: 0;
  left: calc(100% - 960px);
}

.info__content {
  max-width: 811px;
}

.info__title {
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 90px;
  line-height: 1;
}

.info__descr {
  margin: 0 0 40px;
  max-width: 697px;
  line-height: 1.3;
}

.info__btn {
  color: #5243f4;
  background-color: #fff;
}

.info__btn:hover {
  background-color: #eee;
}

.info__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.products {
  padding: 100px 0;
  position: relative;
}

.line--2 {
  top: -40px;
  left: 0;
}

.products__title {
  margin: 0 0 110px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px 24px;
}

.product {
  background-color: #fff;
  color: #5d3427;
  padding-top: 202px;
  position: relative;
}

.product__img {
  top: -70px;
  position: absolute;
  max-width: 100%;
}

.product__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 24px;
}

.product__title {
  font-weight: 800;
  margin: 0 0 20px;
  font-size: 18px;
}

.product__descr {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.2;
  flex-grow: 1;
}

.product__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__price {
  font-weight: 800;
  font-size: 24px;
  color: #5243f4;
  margin-bottom: 10px;
}

.product__weight {
  font-size: 12px;
}

.product__btn {
  background-color: #5243f4;
  color: #fff;
}

.product__btn:hover {
  background-color: #3b2cd8;
}

.love {
  padding: 64px 0 100px;
}

.love__title {
  margin: 0 0 40px;
}

.love__content {
  display: flex;
  gap: 20px;
}

.love__text {
  padding: 110px 80px;
  background-color: #fff;
  color: #5d3427;
  max-height: 453px;
}

.love__subtitle {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.1;
}

.love__descr {
  margin: 0;
  line-height: 1.3;
}

.order {
  padding: 64px 0 102px;
  position: relative;
}

.line--3 {
  top: -870px;
  left: 0;
}

.order__container {
  position: relative;
}

.order__title {
  margin: 0 0 103px;
}

.order__decor {
  position: absolute;
  top: 0;
  right: calc(100% - 810px);
  z-index: -1;
}

.order__content {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(50px);
  padding: 40px 0 44px 200px;
  display: flex;
  position: relative;
}

.form {
  max-width: 387px;
}

.form__descr {
  margin: 0 0 20px;
  font-weight: 800;
  line-height: 1.3;
}

.form__input {
  border: 1px solid #fff;
  margin-bottom: 16px;
  padding: 26px 22px 22px;
  font-size: 18px;
  font-family: "Steppe", sans-serif;
  border-radius: 60px;
  background-color: transparent;
  outline: none;
  color: #fff;
  display: block;
  width: 100%;
}

.form__input:focus {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.form__input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.form__btn {
  padding: 26px 22px 22px;
  width: 100%;
  background-color: #5243f4;
  color: #fff;
}

.form__btn:hover {
  background-color: #3b2cd8;
}

.order__img {
  position: absolute;
  top: -58px;
  right: 35px;
}

.footer {
  padding: 126px 0 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.footer__rights {
  line-height: 1.3;
}