@font-face {
  src:
    url("../fonts/SteppeBook.woff2"),
    url("../fonts/SteppeBook.woff");
  font-family: "Steppe";
  font-weight: 400;
}

@font-face {
  src:
    url("../fonts/SteppeExtraBold.woff2"),
    url("../fonts/SteppeExtraBold.woff");
  font-family: "Steppe";
  font-weight: 800;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: "Steppe", sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 280px;
  min-height: 100%;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  background-color: #5243f4;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.btn {
  outline: none;
  border: none;
  border-radius: 60px;
  padding: 21px 47px 19px;
  font-family: inherit;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 1;
}

.header {
  padding: 40px 0;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 250px;
}

.logo__img {
  vertical-align: bottom;
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__link {
  font-size: 16px;
  line-height: 1.3;
  color: #fff;
}

.nav__link:hover {
  border-bottom: 2px solid #fff;
}

.info {
  padding: 161px 0 200px;
}

.info__content {
  max-width: 811px;
}

.info__title {
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 90px;
  line-height: 1;
}

.info__descr {
  margin: 0 0 40px;
  max-width: 697px;
  line-height: 1.3;
}

.info__btn {
  color: #5243f4;
  background-color: #fff;
}

.info__btn:hover {
  background-color: #eee;
}

.info__img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.products {
  padding: 100px 0;
}

.products__title {
  margin-bottom: 110px;
  text-align: center;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 90px 24px;
}

.product {
  background-color: #fff;
  color: #5d3427;
  padding-top: 202px;
  position: relative;
}

.product__img {
  top: -70px;
  position: absolute;
  max-width: 100%;
}

.product__content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding: 24px;
}

.product__title {
  font-weight: 800;
  margin: 0 0 20px;
  font-size: 18px;
}

.product__descr {
  margin: 0 0 20px;
  font-size: 14px;
  line-height: 1.2;
  flex-grow: 1;
}

.product__extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__info {
  display: flex;
  flex-direction: column;
}

.product__price {
  font-weight: 800;
  font-size: 24px;
  color: #5243f4;
  margin-bottom: 10px;
}

.product__weight {
  font-size: 12px;
}

.product__btn {
  background-color: #5243f4;
  color: #fff;
}

.product__btn:hover {
  background-color: #3b2cd8;
}